<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vehicles <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/Vehicles/Cars">Cars</a></li>
                            <li><a href="~/Vehicles/Motorbikes">Motorbikes</a></li>
                            <li><a href="~/Vehicles/Trucks">Trucks</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Fruites <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/Fruits/Bananas">Bananas</a></li>
                            <li><a href="~/Fruits/Pineapples">Pineapples</a></li>
                            <li><a href="~/Fruits/Apples">Apples</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Albums <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @for (int i = DateTime.Now.Year; i >= DateTime.Now.Year - 5; i--)
                            {
                                <li><a href="~/Albums/@i">Albums of @i</a></li>
                            }
                        </ul>
                    </li>
                    <li class="nav navbar-nav pull-right"><a>@RenderSection("Albums", required: false)</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
