@model Movies.Models.AllMoviesModel

<h3>Movie details</h3>
<p>Title: @Model.Title</p>
<p>Director: @Model.Director</p>
<p>Year: @Model.Year</p>
<p>Leading Male Role: @Model.LeadingMaleRoleActor</p>
<p>Actor age: @Model.ActorAge</p>
<p>Leading Female Role: @Model.LeadingFemaleRoleActress</p>
<p>Actress Age: @Model.ActressAge</p>
<p>Studio: @Model.Studio</p>
<p>Studio Address: @Model.StudioAddress</p>